/*Selector universal*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Selector de tipo: etiqueta*/
body{
    background-color: aquamarine;
        font-family: "Antic Slab", serif;
        font-weight: 400;
        font-style: normal;
}
    
main{
    /*Ajustar a las tarjetas varias líneas*/
    display: flex;
    flex-wrap: wrap;
}
    
h1{
    color: beige;
}

/*Selector de tipo: clase*/
/*reutilizar estilos*/
.tarjeta{
    width: 320px;
    height: 335px;
    background-color: rgb(183, 100, 255);
    border-radius: 3%;
    /*centrando elementos*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 12px;
    border: 2px solid yellow;
    transition: all 0.4s ease-in-out; /*Transición suave*/
}

.titulo-tarjeta {
    margin-bottom: 10px;
}

/*Pseudoclase Hover para crear animaciones*/
.tarjeta:hover {
    background-color: aliceblue;
    transform: scale(1.05);
    transform:rotate(3deg) 

}

.tarjeta .caja-contenedora {
    width: 200px; 
}

.tarjeta img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5%;
}

.tarjeta p {
    color: black;
    font-size: 15px;
}

/*selector de tipo: id*/
/*Es único*/
#Gato {
    color: antiquewhite;
}

#Perro {
    color: blue;
}

#Cuyo {
    color: brown;
}

#Paloma {
    color: rgb(47, 170, 9);
}

#Vaca {
    color: blanchedalmond;
}

